body{
    background-color: #4267B2;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 5rem;
}
div{
  margin: auto;
  background-color: whitesmoke;
  width: 50vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #4267B2;
    color: white;
    margin: 20px;
}
button a{
    text-decoration: none;
    color: white;
}